<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Música Jonas</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet">
  <link href="https://cdn.jsdelivr.net/npm/@fortawesome/fontawesome-free/css/all.min.css" rel="stylesheet">
</head>
<body>
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
      <a class="navbar-brand" href="/">Letras de Música</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav ms-auto">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="/">Inicio</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/agregar">Agregar Canción</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/logout">Cerrar sesión</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>

  <div class="container mt-5">
    <h2>Bienvenido, <%= user.username %>!</h2>
    <p>Esta es la página Principal de Letras Música</p>
    
    <!-- Tabla de canciones -->
    <h3 class="mt-4">Lista de Canciones</h3>
    <table class="table table-bordered mt-3">
      <thead>
        <tr>
          <th>Nombre</th>
          <th>Artista</th>
          <th>Género</th>
        </tr>
      </thead>
      <tbody>
        <% canciones.forEach(function(cancion) { %>
          <tr>
            <td><%= cancion.nombre %></td>
            <td><%= cancion.artista %></td>
            <td><%= cancion.genero %></td>
          </tr>
        <% }); %>
      </tbody>
    </table>
  </div>

  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.3/dist/umd/popper.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.min.js"></script>
</body>
</html>
